<div class="row">
  <div class="col-md-6">
    <a 
      routerLink="/" 
      class="btn btn-link">
      <i class="fa fa-arrow-o-left"></i>
      &nbsp;Back To Dashboard
    </a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a 
        [routerLink]="['/edit-client/'+pathId]" 
        class="btn btn-secondary">
        &nbsp;&nbsp;Edit&nbsp;&nbsp;<!--fix with css-->
      </a>
      <button 
        type="button" 
        class="btn btn-danger" 
        (click)="onDeleteClick()">
        Delete
      </button>
    </div>
  </div>
</div><hr>
<div *ngIf="client" class="card"><!-- Not sure why ngIf is necessary -->
  <h3 class="card-header">
    {{ client.firstName }}&nbsp;
    {{ client.lastName }}
  </h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-7">
        <h4>Client ID: {{ pathId }}</h4>
      </div>
      <div class="col-md-5 balance-update">
        <h3 class="pull-right">
          Balance:&nbsp;
          <span
            [class.text-danger]="hasBalance || (client.balance > 0) || (balance === null)"
            [class.text-success]="!hasBalance">
            {{ client.balance | currency:"USD":true }}
          </span>
          <small>
            <a 
              (click)
              ="showBalanceUpdateInput 
              = !showBalanceUpdateInput">
              <i class="fa fa-pencil"></i>
            </a>
          </small>
        </h3>
        <div class="clearfix">
          <form 
            *ngIf="showBalanceUpdateInput" 
            (submit)
            ="showBalanceUpdateInput 
            = !showBalanceUpdateInput; 
            updateBalance(idNotUsed)" 
            class="form-inline pull-right">
            <div class="form-group"><!--Instructor never uses his id parameter-->
              <input 
                type="text" 
                [(ngModel)]="client.balance"
                name="balance" 
                class="form-control">
                <div class="btn-group">
                  <button 
                    type="submit" 
                    class="btn btn-primary">
                    Update
                  </button>
                  <!-- <button // Thinking I need a cancel button
                    type="button" 
                    class="btn btn-secondary"
                    (click)
                    ="showBalanceUpdateInput 
                    = !showBalanceUpdateInput">
                    Cancel
                  </button> -->
                </div>
            </div>
          </form>
        </div>
      </div>
    </div><br>
    <ul class="list-group">
      <li class="list-group-item">Contact email: {{ client.email }}</li>
      <li class="list-group-item">Contact phone: {{ client.phone }}</li>
    </ul>
  </div>
</div>